{% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% elif 'error' in message.tags %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% elif 'info' in message.tags %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% elif 'warning' in message.tags %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}
